.git
.gitignore
venv
__pycache__
*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache

frontend/node_modules
frontend/dist
frontend/.vite

ai-engine/__pycache__
backend/__pycache__

*.log
.env
.env.*
!.env.example
